* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: verdanna, 'Arial', sans-serif;
	font-size: 1.2rem;
	line-height: 1.4rem;
	color: #f3f370;
}

.background{
    background-image:url(images/katie-rainbow-CBbXtCwBFjw-unsplash.jpg);
    opacity:0.8;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-repeat: no-repeat;
    /* 'contain' is other option, instead of cover*/
    background-size: cover;
    z-index:-1;
}

h1 {
	text-align: center;
	font-size: 2.8rem;
	line-height: 2.5rem;
	color: rebeccapurple;
}
@media screen and (max-width: 600px) {
	h1 {
		font-size: 2.2rem;
	}
}

h2 {
	text-align: center;
	/*font-weight: 600;*/
	font-size: 2.2rem;
}

p {
	text-align: center;
}

button {
	padding: 20px 60px;
	margin: 10px;
	font-size: 1.4rem;
	font-weight: 600;
	background-color: #f2f28c;
	border-radius: 	20px;
}

/* using courgette for now, but need better font */
/*.quote:before {
	content: "\" ";
	color: white;
	font-family: 'Oleo Script';
	font-family: 'Courgette';
}*/
/*.quote:after {
	content: " \"";
	color: white;
	font-family: 'Oleo Script';
	font-family: 'Courgette';
}*/
.quote {
	font-size: 3rem;
	line-height: 3.6rem;
	font-style: italic;
	margin: 0 20px 0 10px;
	/*overflowing atm, coudl try hidden optino or add MQ! */
}
/*when width is UNDER 550 ie max=under, and min=over */
@media screen and (max-width: 800px) {
	.quote {
		font-size: 2rem;
		line-height: 2.6rem;
	}
}
@media screen and (max-width: 500px) {
	.quote {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}
.courgette {
	font-family: 'Courgette';
	font-size: 3.5rem;
}

.merienda {
	font-family: 'Merienda One';
}

.oleo {
	font-family: 'Oleo Script';
	font-size: 3.5rem;
	letter-spacing: 
}

div {
	/*border: 1px dashed green;*/
}

/* need to center containner within body!*/
.container {
	width: auto;
	margin: 10px;
	display: flex;
	position: relative;
	justify-content: center;
	/*border: 1px dashed red;*/
	text-align: center;
	padding: 10px;
	height: 500px;
}
@media screen and (max-width: 700px) {
	.container {
		margin: 0px;
	}
}
.main {
	text-align: center;
	/*margin: auto 0;*/
}

.child {
	/*need both of these to center child div! */
	width: 40%;
	/*height: 400px;*/
	margin: 0 auto;
	/*border: 1px dashed white;*/
	background-color: rebeccapurple;
	display: flex;
	align-items: center;
	/*// to center child img in pic_container*/
	justify-content: center;
	border-radius: 	20px;
}
@media screen and (max-width: 700px) {
	.child {
		width: 45%;
	}
}

.footer {
	text-align: center;
	font-size: 1rem;
	color: rebeccapurple;
	margin-top: 20px;
}

.pic_container {
	display: flex;
  	justify-content: center;
  	padding: 10px 0;
  	height: 400px;
  	align-items: center;
}

/*image is overflowing its parent*/
.picture {
	width: 300px;
	/*width: 100%;*/
    /*makes it fit within its parent while keeping proportions*/
    object-fit: contain;
    padding: 10px;
}
@media screen and (max-width: 700px) {
	.picture {
		width: 100%;
	}
}

.rotate180 {
	transform: rotate(90deg);
}

